@charset "UTF-8";
/* ■■■■■■■■■■■■■■■■■■■■■■■ */
/* エピソードページ（背景システム、キャラセリフ除く） */
/* ■■■■■■■■■■■■■■■■■■■■■■■ */
.article__episode {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.article__episode h1 {
  position: relative;
  width: 100%;
  padding: 1rem;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.7);
  background-color: white;
}
.article__episode .description {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1.5rem 0;
  background-color: white;
}
.article__episode .description div {
  position: relative;
  width: 90%;
  max-width: 750px;
  padding: 2rem 1rem;
  border: 2px dotted #ff8fff;
  border-radius: 10px;
}
.article__episode .description h2 {
  position: absolute;
  top: -1rem;
  left: 25%;
  display: inline-block;
  width: 50%;
  max-width: 320px;
  text-align: center;
  background-color: #ff8fff;
  border-radius: 10px;
}
.article__episode .content h2 {
  position: relative;
  text-align: center;
  background-color: black;
  color: white;
}
.article__episode .content .block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.article__episode .objectiveBox,
.article__episode .act,
.article__episode img {
  width: 98%;
  max-width: 800px;
}
.article__episode .objectiveBox {
  padding: 1rem;
  margin: 1.5rem 0;
  border: 2px solid #555;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}
.article__episode .objectiveBox p {
  margin-bottom: 0.8rem;
}
.article__episode .content .wrap > img {
  box-shadow: 0 0 5px black;
}

/* ■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■ */
.aside__episode {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* ■■■■■■■■■■■■■■■■■■■■■■■ */
  /* ■■■■■■■■■■■■■■■■■■■■■■■ */
  /* ■■■■■■■■■■■■■■■■■■■■■■■ */
  /* ■■■■■■■■■■■■■■■■■■■■■■■ */
}
.aside__episode h2 {
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
}
.aside__episode .finish {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1.8rem 0.8rem;
  background-color: white;
}
.aside__episode .finish > h3,
.aside__episode .finish > .sns,
.aside__episode .finish > .scene {
  width: 100%;
}
.aside__episode .finish h3 {
  text-align: center;
}
.aside__episode .finish .sns {
  max-width: 800px;
  margin-bottom: 4rem;
}
.aside__episode h3 {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 130%;
}
.aside__episode #prev_next {
  width: 100%;
  max-width: 800px;
  display: flex;
  margin-bottom: 4rem;
  background-color: rgba(0, 0, 0, 0.8);
}
@media screen and (min-width: 560px) {
  .aside__episode #prev_next {
    width: 80%;
  }
}
.aside__episode #prev_next #prev,
.aside__episode #prev_next #next {
  width: 50%;
  padding: 30px 10px 10px;
  border-top: #ccc 1px solid;
  border-bottom: #ccc 1px solid;
  display: table-cell;
  position: relative;
  text-decoration: none;
}
.aside__episode #prev_next #prev:hover,
.aside__episode #prev_next #next:hover {
  background-color: rgba(238, 238, 238, 0.7);
}
.aside__episode #prev_next #prev:hover p,
.aside__episode #prev_next #next:hover p {
  color: #ff8fff;
}
.aside__episode #prev_next #prev p,
.aside__episode #prev_next #next p {
  margin-top: 0.3rem;
  font-size: 120%;
  color: white;
  text-align: center;
}
.aside__episode #prev_next #prev {
  border-right: #ccc 1px solid;
}
.aside__episode #prev_next #prev_title,
.aside__episode #prev_next #next_title {
  font-size: 90%;
  top: -1em;
  position: absolute;
  border: 1px #ccc solid;
  background-color: rgb(0, 0, 0);
  text-align: center;
  padding: 3px;
  color: #ff8fff;
}
.aside__episode #prev_next #next_title {
  right: 10px;
}
.aside__episode #prev_next img {
  margin: 0 auto;
  width: 75%;
}
.aside__episode #prev_next #prev_no,
.aside__episode #prev_next #next_no {
  width: 50%;
  padding: 0 10px;
  display: table-cell;
}
.aside__episode #prev_next #prev_no {
  border-right: #ccc 1px solid;
}
.aside__episode #prev_next #prev_next_home {
  margin: 0 auto;
  background-color: #39f;
  border: solid 9px #fff;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  box-shadow: 0 0 0 3px #39f;
  -webkit-box-shadow: 0 0 0 3px #39f;
  -moz-box-shadow: 0 0 0 3px #39f;
  text-align: center;
}
.aside__episode #prev_next #prev_next_home:hover {
  background-color: rgba(0, 0, 255, 0.7);
}
.aside__episode #prev_next #prev_next_home i {
  color: #FFF;
  margin: 10px auto;
  font-size: 60px;
}
.aside__episode .relateds {
  display: flex;
  flex-wrap: nowrap;
  max-width: 800px;
  padding: 0.6rem 0.3rem;
  overflow-x: scroll;
  background-color: rgba(0, 0, 0, 0.7);
}
.aside__episode .relateds li {
  width: 40%;
  padding: 0.3rem;
}
.aside__episode .relateds li:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.8);
}
.aside__episode .relateds li a {
  display: block;
  transition: all 0.2s;
}
.aside__episode .relateds li a.relateds__link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.aside__episode .relateds li a.relateds__link:hover img {
  border-color: #ff8fff;
}
.aside__episode .relateds li figure {
  margin: 0;
}
.aside__episode .relateds li img {
  width: 80%;
  margin-left: 10%;
  border: 2px solid black;
}/*# sourceMappingURL=episode.css.map */