@use 'argument' as arg;

/* ■■■■■■■■■■■■■■■■■■■■■■■ */
/* トップページ専用のレイアウト */
/* ■■■■■■■■■■■■■■■■■■■■■■■ */

.article__frontpage,
.aside__frontpage {
  background-color: white;
  > section {
    padding:2rem 1.5rem 4rem 1.5rem;
  }
  h2 {
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(0,0,0,0.5);
  }
}

.article__frontpage {
  .tophoti {
    @include arg.tape;
    top: 90px;
    left: 20%;
    width: 60%;
    height: 25px;
    margin: 0;
    transform: rotate(0);
    z-index: 1;

  }
  .fv,
  .news,
  .frontmenu {
    position: relative;
    width: 100%;
    &::before,
    &::after {
      @include arg.hoti;
      display: inline-block;
      width: 30px;
      transform: rotate(90deg);
      z-index: 1;
    }
    &::before {
      bottom: 0;
      left: 0;
    }
    &::after {
      bottom: 0;
      right: 0;
    }
  }
  .news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: arg.$backgroundPink;

    ul {
      width: 80%;
      max-width: 1000px;
    }
    li {
      &:not(:last-child) {
        border-bottom: 1px solid rgba(0,0,0,0.1);
      }
    }
  }

  .frontmenu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
    }
    li {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      padding: 1rem;
      h3 {
        width: 60%;
      }
      &.about {
        width: 80%;
        h3 {
          width: 100%;
          max-width: 600px;
        }
      }
      @include arg.pc {
        width: 50%;
      }
    }
  }
}
.aside__frontpage,
.aside__about {
  padding: 0 1.5rem 4rem 1.5rem;
  background-color: arg.$backgroundPink;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  margin-bottom: 0.5rem; //親要素のhiddenで影が隠れないように
  .quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2.0rem;
  }
  .note {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .quote li::before {
    content: "📕";
  }
  .note li::before {
    content: "※";
  }

}