@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    font-size: 62.5%; // 10px
}

a {
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
