@use 'argument' as arg;

/* ■■■■■■■■■■■■■■■■■■■■■■■ */
/* サイドバー */
/* ■■■■■■■■■■■■■■■■■■■■■■■ */


.sidebar {
  background-color: white;
  position: relative;
  @include arg.npadding;
}


.sidebar:before {
  @include arg.tape;
  top: 10%;
  left: 3%;
}
.sidebar:after {
  @include arg.tape;
  top: 10%;
  right: -1%;
  transform: rotate(3deg);
}

/* ■■■■■■■■■■■■■■■■■■■■■■■ */
/* ダイレクト検索 */
/* ■■■■■■■■■■■■■■■■■■■■■■■ */

.sidebar__search h2{
  margin-bottom: 1.5rem;
  text-align: center;
  &::before {
    content: "🔍";
  }
  &::after {
    content: "🔎";
  }
}

.sidebar__search__direct {
  margin-bottom: 1.5rem;
  form {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
  }
  input {
    height: 30px;
    &:first-child {
      width: 70%;
    }
    &:last-child {
      width: 30%;
    }
  }
}


/* ■■■■■■■■■■■■■■■■■■■■■■■ */
/* アイウエオ */
/* ■■■■■■■■■■■■■■■■■■■■■■■ */
.sidebar__search__categories {
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  li.cat-1 { //未分類を消す
    display: none;
  }
  li {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 50%;
  }
  a {
    display: block;
    padding: 0.3rem 0.6rem;
    border-radius: 50%;
    font-size: 120%;
  }
}

/* ■■■■■■■■■■■■■■■■■■■■■■■ */
/* SNS */
/* ■■■■■■■■■■■■■■■■■■■■■■■ */
.sns__container {
  display: flex;
}

.sns__container a {
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 0.5rem 0;
}

.sns__container a:hover {
  opacity: 0.6;
}

.sns__twitter {
  background: #55acee;
}

.sns__facebook {
  background: #3b5998;
}

.sns__pocket {
  background: #ef3f56;
}

.sns__line {
  background: #1dcd00;
}

.sns__hatena {
  background: #00a5de;
}