@use 'argument' as arg;

/* ■■■■■■■■■■■■■■■■■■■■■■■ */
/* タブシステム */
/* ■■■■■■■■■■■■■■■■■■■■■■■ */


.phasetab {
  margin-bottom: 3.0rem;
  padding-bottom: 1.0rem;
  border-bottom: 1px solid arg.$pink;
  &__text {
    text-align: center;
    &::before,
    &::after {
      content: "🔻";
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  li {
    margin:0 0.2rem 0.2rem;
    padding: 0.5rem 1rem;
    border: 1px solid rgba(0,0,0,0.6);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      color: arg.$pink;
      background-color: rgba(245, 116, 202, 0.1);
    }

    &.active {
      background-color: rgba(0,0,0,0.6);
      color: white;
      border: none;
      cursor: default;
    }
  }
}
@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
.phase {
  display: none;
  opacity: 0;

  &.phase-active {
    opacity: 1.0;
    display: block;
    animation: fadeIn 0.3s ease-in 0s forwards;
  }
}