@use 'argument' as arg;

/* ■■■■■■■■■■■■■■■■■■■■■■■ */
/* タブシステム */
/* ■■■■■■■■■■■■■■■■■■■■■■■ */


.phasetab {
  margin-bottom: 3.0rem;
  &__text {
    text-align: center;
    &::before,
    &::after {
      content: "🔻";
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  li {
    margin:0 0.2rem 0.2rem;
    padding: 0.5rem 1rem;
    border: 1px solid rgba(0,0,0,0.6);
    border-radius: 50%;
    cursor: pointer;

    &.active {
      background-color: rgba(0,0,0,0.6);
      color: white;
      border: none;
      cursor: default;
    }
  }
}
.phase {
  display: none;

  &.phase-active {
    display: block;
  }
}