@use 'argument' as arg;

/* ■■■■■■■■■■■■■■■■■■■■■■■ */
/* 四字熟語アウトプット */
/* ■■■■■■■■■■■■■■■■■■■■■■■ */

.yojiblocks li {
  &:nth-child(odd) .yojipage{
    transform: rotate(0.25deg);
  }
  &:nth-child(even) .yojipage{
    transform: rotate(-0.25deg);
  }
}

.yojipage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 99%;
  max-width: 800px;
  margin-bottom: 1.6rem;
  @include arg.npadding;
  min-height: 500px;
  position: relative;


  h2 {
    margin-bottom: 0.8rem;
  }
}

.yojipage__image {
  margin-bottom: 5rem;
}

.yojipage:before {
  position: absolute;
  content: "";
  top: 25px;
  width: 10%;
  height: 35px;
  opacity: 0.7;
  margin: -40px auto 10px -22px;
  background-color: #ff99ac; /* 背景色 */
  background-image: radial-gradient(#fff 24%, transparent 0), radial-gradient(#fff 24%, transparent 0);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
  transform: rotate(-9deg);
  left: 10px;
  right: 10px;
  box-shadow:0 0 5px rgba(0,0,0,.2);
  border-radius: 5px;
}
.yojipage:after {
  position: absolute;
  content: "";
  top: 25px;
  width: 11%;
  height: 35px;
  opacity: 0.7;
  margin: -40px -22px 10px auto;
  background-color: #ff99ac; /* 背景色 */
  background-image: radial-gradient(#fff 24%, transparent 0), radial-gradient(#fff 24%, transparent 0);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
  transform: rotate(3deg);
  left: 10px;
  right: 10px;
  box-shadow:0 0 5px rgba(0,0,0,.2);
}
.yojirank {
  &__blue {
    outline: 0.2rem solid rgb(64, 64, 255);
    outline-offset: -0.2rem;
  }
  &__yellow {
    outline: 0.2rem solid rgb(235, 235, 26);
    outline-offset: -0.2rem;
  }
  &__red {
    outline: 0.2rem solid rgb(255, 58, 58);
    outline-offset: -0.2rem;
  }
  &__blue::before,
  &__blue::after {
    background-color: rgb(64, 64, 255);
  }
  &__yellow::before,
  &__yellow::after {
    background-color: rgb(235, 235, 26);
  }
  &__red::before,
  &__red::after {
    background-color: rgb(255, 58, 58);
  }
}
.yojipage__mean {
  width: 80%;
  text-align: center;

  h3 {
    display: inline-block;
    margin-bottom: 1.5rem;
    padding: 3px 5px;
    border: 1px solid rgba(0,0,0,0.7);
  }

  p {
    text-align: center;
  }
}
.yojipage__explanation {
  box-shadow: 0 2px 3px rgba(0,0,0,.22);
  padding: 22px 8px 22px 8px;
  background-color: arg.$explanationBG;
  background-image:
  linear-gradient(90deg, rgba(237, 119, 128, 0) 0%, rgba(237, 119, 128, 0) 50%, arg.$explanationBG 0%, arg.$explanationBG 100%), linear-gradient(180deg, rgba(237, 119, 128, 0) 0%, rgba(237, 119, 128, 0) 95%, arg.$explanationColor 100%);
  background-size: 8px 100%,100% 2em;
  line-height: 2;
  color: arg.$explanationColor;
  font-weight: bold;
    h3 {
    background: arg.$explanationBG;
    position: relative;
    padding: 8px 4px 2px 4px;
    color: arg.$explanationColor;
    font-weight:bold;
    text-align: center;
    margin: -1.6rem -0.4rem 1.0rem -0.4rem;
    @include arg.tab {
      margin-bottom: 1.5rem;
    }
    @include arg.pc {
      margin-bottom: 1.9rem;
    }
    &::before{
      @include arg.hoti;
      left: 10%;
    }
    &::after {
      @include arg.hoti;
      right: 10%;
    }
  }
  p {
    margin: 0;
    padding: 0;
    color: arg.$explanationColor;
  }

}

.yojipage__example{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  h3 {
    display: inline-block;
    margin-bottom: 1.5rem;
    padding: 3px 5px;
    border: 1px solid rgba(0,0,0,0.7);
  }
}
.yojipage {
  section {
    margin-bottom: 5.0rem;
  }
}

/* ■■■■■■■■■■■■■■■■■■■■■■■ */
/* 問題リンク、アウトプット隣接記事 */
/* ■■■■■■■■■■■■■■■■■■■■■■■ */

.block__linkquest {
  width: 90%;
  margin-left: 2%;
  transform: rotate(-2deg);
  text-align: center;
  h2 {
    margin-bottom: 1.5rem;
    font-size: 120%;
  }
}

.block__outputprevnext {
  text-align: center;
  transform: rotate(1deg);
  h2 {
    margin-bottom: 1.5rem;
    font-size: 120%;
  }
  #prev_next {
    display: flex;
    flex-wrap: nowrap;
    a {
      width: 50%;
    }
    a:first-child {
      border-right: 1px solid arg.$pink;
    }
  }
}
